/linkedin_scraper/.env
/linkedin_scraper/jobs.xlsx
/linkedin_scraper/jobs - Copy.xlsx
/linkedin_scraper/jobs - Copy (2).xlsx
/linkedin_scraper/linkedin_cookies.json
/.idea
/test.py
/linkedin_scraper/books.xlsx
/linkedin_scraper/jobs_with_description.xlsx
